body { 
    margin: 0;
}
.navbar {
    background-color: #333;
    height: 100px;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #444;
    height: 25px;
    color: whitesmoke;
    text-align: center;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
